<p-progressSpinner *ngIf="loading" [style]="{width:'50px', height: '50px'}" strokeWidth="7"></p-progressSpinner>
<h2>Witaj w naszym serwisie, wybierz sposób logowania</h2>

<article>
    <p-card class="action-card">
        <p-header class="action-header">
            <h3>Dodaj Sprawę</h3>
        </p-header>
        <form [formGroup]="sendForm" (ngSubmit)="onSubmitEmail(sendForm.value)">
            <div class="ui-inputgroup ui-float-label input-field">
                <input id="float-input-email" type="email" size="33" formControlName="email" pInputText>
                <label for="float-input-email" class="field-label">Twój Email</label>
            </div>
            <div class="message-space">
                <div *ngIf="f.email.errors && enabledValidatorsEmail">
                    <p-message *ngIf="f.email.hasError('required')" severity="error" text="Wymagany Email"
                               class="message"></p-message>
                    <p-message *ngIf="f.email.hasError('email')" severity="error" text="Email Ma Zły Format"
                               class="message"></p-message>
                </div>
            </div>
            <p-button label="Przejdź Dalej" styleClass="ui-button-info ui-button-raised" class="action-btn"></p-button>
        </form>
    </p-card>

    <p-card class="action-card">
        <p-header class="action-header">
            <h3>Zobacz Swoje Sprawy</h3>
        </p-header>
        <form [formGroup]="tokenForm" (ngSubmit)="onSubmitToken(tokenForm.value, emailForView.value)">
            <div class="ui-inputgroup ui-float-label input-field">
                <input id="float-input-token" type="text" size="33" formControlName="token" pInputText #emailForView>
                <label for="float-input-token" class="field-label">Podaj Adres Email Aby Otrzymać Token</label>
            </div>
            <div class="message-space">
                <div *ngIf="t.token.errors && enabledValidatorsToken">
                    <p-message *ngIf="t.token.hasError('required')" severity="error" text="Wymagany Email"
                               class="message"></p-message>
                    <p-message *ngIf="t.token.hasError('email')" severity="error" text="Email Ma Zły Format"
                               class="message"></p-message>
                </div>
            </div>
            <p-button label="Wyślij Email Z Tokenem" styleClass="ui-button-info ui-button-raised" class="action-btn"></p-button>
        </form>
    </p-card>
</article>

<p-dialog [(visible)]="display" [style]="{width: '400px', height: '200px'}">
    <p-header>
        Wprowadź Aktualny Token
    </p-header>

    <div class="ui-inputgroup ui-float-label input-field dialog-input">
        <input id="enter-token" type="text" size="46" pInputText #enteredToken>
        <label for="enter-token" class="field-label">Token</label>
    </div>

    <p-footer>
        <p-button label="Wyślij" styleClass="ui-button-info ui-button-raised" class="dialog-btn" (click)="checkToken(enteredToken.value)"></p-button>
    </p-footer>
</p-dialog>
