<article>
    <p-accordion>
        <p-accordionTab header="Edytuj Profil" [selected]="true">
            <form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">
                <h3>Login</h3>
                <span class="ui-float-label">
                    <input disabled placeholder="Login" id="login-input" type="text" formControlName="LoginFormControl" size="33" pInputText>
                </span>
                <h3>Email</h3>
                <span class="ui-float-label">
                    <input disabled placeholder="Email" id="email-input" type="text" formControlName="EmailFormControl" size="33" pInputText>
                </span>
                <h3>Hasło</h3>
                <span class="ui-float-label">
                    <input placeholder="Hasło" id="password-input" type="password" size="33" formControlName="PasswordFormControl" pInputText>
                </span>
                <p-button label="Edytuj"></p-button>
            </form>
        </p-accordionTab>
    </p-accordion>
</article>
