<article>
    <p-card class="profile-card">
        <p-header class="profile-header">
            <h2>Edytuj profil</h2>
        </p-header>
        <form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">
            <h3>Login</h3>
            <span class="ui-float-label">
                <input id="login-input" type="text" formControlName="LoginFormControl" size="30" pInputText>
                <label for="login-input">Login</label>
            </span>
            <h3>Email</h3>
            <span class="ui-float-label">
                <input id="email-input" type="text" formControlName="EmailFormControl" size="30" pInputText>
                <label for="email-input">Email</label>
            </span>
            <h3>Hasło</h3>
            <span class="ui-float-label">
                <input id="password-input" type="text" formControlName="PasswordFormControl" size="30" pInputText>
                <label for="password-input">Hasło</label>
            </span>
            <p-button label="Edytuj"></p-button>
        </form>
    </p-card>
</article>
