article {
  padding-top: 10px;

  .view-panel {
    width: calc(100% - 220px);
    margin: auto;
    padding: 0 10px;


  }

  .view-panel.comment-panel {
    margin-top: 20px;

    textarea {
      width: 100%;
    }
  }
  .footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
}
