.upload-element {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 400px;

  p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
  }

  .delete-btn {
    font-size: 12px;
    margin-left: 15px;
  }
}
