<article>
    <app-document-menu-admin></app-document-menu-admin>
  <div class="users">
    <p-table [value]="users">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td *ngFor="let col of cols">
            {{user[col.field]}}
          </td>
          <td><p-button type="button" label="Edytuj" (click)="showDialogEdit(user['email'], user['login'])" class="ui-button-raised"></p-button></td>
          <td><button pButton type="button" label="Usuń" (click)="showDialogDelete(user['email'], user['login'])" class="ui-button-raised ui-button-danger"></button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</article>
<p-dialog header="Zmień dane konta {{targetLogin}}" [(visible)]="displayEdit">
  <app-edit-dialog [oldLogin]="targetLogin" [email]="targetEmail" (eventClose) = closeEditDialog($event)></app-edit-dialog>
</p-dialog>
<p-dialog header="Usuń" [(visible)]="displayDelete">
  <p>Czy na pewno chcesz usunąć to konto ?</p>
  <p *ngIf="targetLogin">Login: {{targetLogin}}</p>
  <p *ngIf="targetEmail">E-mail: {{targetEmail}}</p>
  <p-footer>
    <button pButton type="button" label="Nie" (click)="showDialogDelete('', '')"></button>
    <button pButton type="button" label="Tak" (click)="deleteUser()"></button>
  </p-footer>
</p-dialog>
