::ng-deep .ui-toast-message-warn{ background: rgb(235, 235, 145); } ::ng-deep .ui-toast-message-error{ background: rgb(235, 145, 145); } ::ng-deep .ui-toast-message-success{ background: rgb(156, 235, 145);	} ::ng-deep .ui-toast-message-info{ background: rgb(145, 199, 235); }

@keyframes ui-progress-spinner-color {
  100%
  {
    stroke: #d62d20;
  }
}
