article {
  padding-top: 10px;
}
.formCard {
  margin: auto;
  width:60%;
}
p-header {
  padding: 10px;
}
.form {
  width:80%;
  margin: auto;
}
.d-block {
  display: block;
}
.d-flex {
  display:flex;
}
.margin {
  margin: 40px;
}
.margin-l {
  margin:9px 0;
}
input{
  width:100%;
}
button {
  margin: auto;
  width: 40%;
}
p-progressSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
