h2 {
  text-align: center;
}

article {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;

  .login-card {


    .login-header {
      h3 {
        padding: 30px;
        font-size: 16px;

        @media (max-width: 600px) {
          & {
            padding: 10px;
            font-size: 12px;
          }
        }
      }

    }

    .login-btn {
      width: 100%;

      ::ng-deep {
        button {
          width: 100%;
          height: 10vh;

        }
      }

    }
  }
}



