form {
  padding: 5px;
}
.radio {
  margin: 10px;
}
.input {
  margin: 5vh;
}
.message {
  margin: 1vh 0;
}
label {
  margin-left: 10px;
}
.buttons {
  margin: 15px 40px;
  display: flex;
  justify-content: space-between;
}
table > tr > td :first-child {
  width:5px;
}
