.send-form {
  width: calc(100% - 220px);
  float: right;
  padding: 0 10px;

  .send-panel {
    display: flex;
    flex-flow: column;

    p-header {
      position: relative;
    }

    .full-input {
      display: flex;
    }

    .full-input-select {
      div {
        margin-left: 10px;
      }
    }

    .input-field {
      margin: 20px 5px 5px 0;
    }
    p-dropdown {
      margin-top: 20px;
    }

    .select-receiver {
      margin-left: 20px;
    }


    .message-space {
      height: 35px;
      margin-top: 20px;
    }




    .footer {
      float: right;

      .send-btn {
        margin-right: 10px;
      }
    }
  }

}
p-progressSpinner {
  position: absolute;
  top: 25vh;
  left: 50vw;
  z-index: 10;
}
